:root {
  --font: "Kiwi Maru", serif;
  --font2: "Raleway", serif;
  --font3: "Quicksand", sans-serif;
  --font4: "Josefin Sans", sans-serif;
  --font5: "Lato", sans-serif;
  --font6: "English", arial;
  --font7: "Italianno", cursive;
  --font8: "Pinyon Script", cursive;
  --font9: "Cormorant", serif;
  --font10: "Cormorant Garamond", serif;
  --font11: "Libre Franklin", sans-serif;
  --font12: "Quattrocento Sans", sans-serif;
  --font13: "Prata", serif;
  --font14: "Taviraj", serif;
  --font15: "NTR", sans-serif;
  --font16: "Syncopate", sans-serif;
  /* 
  questrial, red hat display, orbitron, jura */
}
html,
body {
  font-family: var(--font16);
  font-size: 20px;
  background: white;
}
hr {
  border: solid 0.1em white;
}
hr.side {
  border: solid 0.1em rgb(126, 126, 126);
  border-width: 1px 0 0;
  clear: both;
  margin: 22px 0 21px;
  height: 0;
}
.App {
  height: 100%;
}
.link {
  cursor: pointer;
}
#root {
  height: auto;
}
/* NAVIGATION */
.mynavbar {
  letter-spacing: 2px;
  background: rgb(255, 255, 255) !important;
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 120px;
  padding-bottom: 20px;
  padding-top: 20px;
  z-index: 120;
}
.nav-main {
  margin-left: 20px;
  margin-right: 30px;
}
a {
  font-size: 14px;
  color: grey;
  display: block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
a:hover {
  text-decoration: none;
}
/* CONTAINER MAIN */
.container-fluid {
  padding: 0 !important;
}

/* CONTAINER INCLUDING CONTAINERS EXCLUDING FOOTER */
.main-container {
  width: 100% !important;
  padding: 0 !important;
  overflow: hidden;
}

/* BUFFER */
.buffer-container {
  text-align: center;
  background: rgb(250, 249, 243);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  margin: auto;
}

/* ROUND PICS */
.wedding-card {
  max-height: 300px;
  border-radius: 5px 20px 5px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.wedding-card:hover {
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* TIMER */
.timer-row {
  text-align: center !important;
  max-width: 400px !important;
  margin: auto !important;
  text-align: center;
}
.counter-col {
  margin-top: 3px;

  margin-left: 3px;
  border-radius: 5px;
  border: solid 0.1rem rgba(97, 97, 97, 0.275);
  text-align: center;
  font-size: xx-large;
}
.datetimer {
  font-size: 28px;
  font-weight: bolder;
}
.datetimerdesc {
  font-size: 18px;
}

/* 
FOOTER */
.footer-container {
  background: rgb(255, 255, 255);
  border: none;
  color: black;
  height: 50px;
}
.footer-info {
  padding-top: 150px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

/* BUTTONS AND FX */
.radio-group {
  width: 100% !important;
  margin-left: 35%;
  justify-content: center;
}
.radio-button {
  text-align: left;
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 15px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio-button input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* On mouse-over, add a grey background color */
.radio-button:hover input ~ .radio-form {
  background-color: #ccc;
  border: solid 1px rgb(255, 255, 255);
}

/* When the radio button is checked, add a blue background */
.radio-button input:checked ~ .radio-form {
  background-color: rgb(121, 152, 255);
  border: solid 1px rgb(255, 255, 255);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-form:after {
  border: solid 1px rgb(255, 255, 255);
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-button input:checked ~ .radio-form:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-button .radio-form:after {
  left: 10px;
  top: 5px;
  width: 5px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.radio-form {
  border: solid 1px rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(192, 192, 192);
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.51s;
  transition: all 0.5s;
}

/* FORM VALIDATION MESSAGE */
.span-text {
  margin-bottom: 20px;
  margin-top: 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.51s;
  transition: all 0.5s;
}

/* GUEST FORM INPUT */
input {
  width: 150px;
  outline-width: 0;
  padding: 5px;
  border: transparent;
  color: black;
  font-size: 12px;
  border-radius: 5px;
  background: rgb(231, 240, 252);
  -ms-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -o-transform: scale(1.4);
  transform: scale(1.4);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
input::placeholder {
  color: rgb(0, 0, 0);
}
input:focus::placeholder {
  color: white;
}
input:hover,
input:active {
  width: 150px;
  outline-width: 0;
  padding: 5px;
  border-radius: 5px;
  color: black;
  background: rgb(233, 233, 255);
  -ms-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -o-transform: scale(1.4);
  transform: scale(1.4);
}
input:focus {
  width: 150px;
  outline-width: 0;
  background: rgb(154, 178, 255) !important;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background: ghostwhite;
}

/* BUTTONS FOR MAPS AND FORM */
.button-prog-map {
  font-size: 12px;
  outline-width: 0;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  background: transparent;
  border: solid 1px rgb(38, 38, 38);
  color: rgb(48, 48, 48);
  border-radius: 3px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.button-prog-map:hover {
  outline-width: 0;
  background: rgb(48, 48, 48);
  border: solid 1px rgb(48, 48, 48);
  color: white;
}
.button-prog-map::after {
  outline-width: 0;
}
.button-prog-map:focus,
.button-prog-map:active {
  outline-width: 0;
}
.btnrsvp {
  border: rgb(0, 0, 0) solid 0.1em;
  font-size: 15px;
  border-radius: 7%;
  color: black;
  background: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.8s;
}
.btnrsvp:hover {
  border: solid 0.1em transparent;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.btnrsvp:focus {
  border: solid 0.1em;
  color: rgb(49, 49, 49);
  background: transparent;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.btnrsvp:active {
  border: white solid 0.1em;
  color: black;
  background: rgb(121, 152, 255);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

/* IMAGE */
.img-round {
  height: 250px;
  width: auto;
  filter: brightness(90%);
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}
.img-round:hover {
  height: 250px;
  width: auto;
  filter: brightness(100%);
}
/* TEST CSS */
.use-border {
  border: solid 1px black;
}

/* ICONS */
.img-ring {
  -webkit-filter: invert(0);
  filter: invert(0);
  width: 25px;
  margin-right: 7px;
}

/* REACT JAVASCRIPT FADE IN AND FADE OUT EFFECTS */
.invisible {
  opacity: 0;
  transform: translateY(14vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}
.visible {
  opacity: 1;
  transform: none;
  visibility: visible;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
/* 
ADDRESS UNDER MAP */
.address {
  font-size: 17px;
  text-align: center;
}

.img-programme {
  filter: brightness(80%);
  filter: grayscale(50%);
}
.img-programme-acf {
  filter: brightness(65%);
}
/* MOBILE  */
@media (max-width: 600px) {
  .benetcam {
    font-size: auto;
  }
  .hashtag {
    display: none;
  }
  .go-to-programme-link {
    cursor: pointer;
    color: white;
  }
  .go-to-programme-link:hover {
    color: white;
  }
  .merry-go-round-img {
    height: 520px;
    overflow: hidden;
    object-fit: cover;
  }
  .merry-go-round-img-scroll {
    position: sticky;
    height: 600px;
    object-fit: cover;
  }
  /* CAROUSEL LEGENDS */
  .text-oncarousel {
    font-size: 12px;
    margin-top: 250px !important;
    z-index: 1;
    color: white;
    text-align: center;
    width: 100%;
    position: absolute;
  }
  .space-div {
    margin-bottom: 100px;
  }
  /* programme */
  .programme-title {
    text-align: center;
    margin-top: 25px;
  }
  .img-programme {
    width: 100%;
    max-width: 300px;
  }
  .img-programme-acf {
    width: 100%;
    max-width: 700px;
    min-height: 200px;
    border-radius: 0px 15px 0px 0px;
  }
  .card-two-prog-title {
    font-size: 20px;
    font-weight: bold;
  }
  .card-two-prog-location {
    margin-left: 20px;
    font-size: 13px;
  }
  .card-rsvp-title {
    padding-bottom: 20px;
    max-width: 400px;
    margin: 0 auto;
  }
  .card-rsvp-title-p {
    width: auto !important;
    font-size: 18px !important;
  }
  .core-text {
    text-align: left;
    width: 100%;
    display: inline-block;
  }
  /* MAIN CONTAINER */
  .carousel-img-container {
    top: 0;
  }
  .rsvp-carousel {
    border-radius: 5px 30px 5px;
    padding: 10px;
    color: rgb(41, 41, 41);
    width: 100%;
    margin: 0 auto;
    text-align: center !important;
    background: rgba(255, 255, 255, 0.398);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .radio-group {
    margin-left: 20% !important;
  }
  /* MAPPING */
  .map-col {
    margin: 0 auto;
    text-align: center;
  }
  .content {
    width: 100%;
    display: flex;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .mapouter {
    width: 100% !important;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .gmap_canvas {
    width: 100% !important;
    height: 330px;
    border-radius: 20px;
    opacity: 1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .gmap_canvas:hover {
    opacity: 1;
  }
  .ipad-mobile-render {
    display: none;
  }
  .logo-couple {
    font-size: 16px;
    justify-content: center;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    display: flex;
  }
  .insta-logo {
    width: 35px;
  }
  .insta-large-screen {
    display: none;
  }
  .container-programme-row {
    height: auto;
    width: 100%;
  }
  .mobile-col {
    min-width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}
/* DESKTOP  */
@media (min-width: 992px) {
  .benetcam {
    font-size: 35px;
  }
  .hashtag {
    margin-right: 25px;
  }
  .go-to-programme-link {
    cursor: pointer;
    color: white;
    font-size: 20px;
  }
  .go-to-programme-link:hover {
    color: white;
  }
  .merry-go-round-img {
    height: 765px;
    overflow: hidden;
    object-fit: cover;
  }
  .merry-go-round-img-scroll {
    position: sticky;
    height: 600px;
    object-fit: cover;
  }
  /* CAROUSEL LEGENDS */
  .legend {
    background-color: transparent !important;
    font-size: 80% !important;
    width: 100px;
    height: 500px;
    border-radius: 0 !important;
    margin-bottom: 10px;
    opacity: 1 !important;
  }
  .legend:hover {
    opacity: 1 !important;
  }
  .programme-img-col {
    max-height: 480px;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
    overflow: hidden;
  }
  .programme-col {
    max-height: 480px;
    text-align: center;
    margin: 0 auto;
    font-size: 12px !important;
    overflow: hidden;
  }

  /* programme col 1 img settings */
  .img-programme {
    width: 100%;
    max-width: 700px;
    min-height: 200px;
    border-radius: 15px 0px 0px 0px;
  }
  .img-programme-acf {
    width: 100%;
    max-width: 700px;
    border-radius: 0px 15px 0px 0px;
  }
  .programme-img-col {
    text-align: right;
  }

  /* programme col 2 text div */
  .card-two-prog-title {
    font-size: 20px;
    font-weight: bold;
  }
  .card-two-prog-location {
    font-size: 15px !important;
  }

  /* form cards */
  .card-rsvp-title {
    padding-bottom: 15px;
  }
  .card-rsvp-title-p {
    width: auto !important;
    font-size: 22px;
  }
  .core-text {
    text-align: center;
    width: 100%;
    display: inline-block;
  }
  /* MAIN CONTAINER */
  .carousel-img-container {
    margin-left: 30px;
    margin-right: 30px;
  }
  .text-oncarousel {
    font-size: 25px;
    margin-top: 250px !important;
    z-index: 1;
    color: white;
    text-align: center;
    width: 100%;
    position: absolute;
  }
  .space-div {
    margin-bottom: 280px;
  }
  .container-programme-row {
    margin: 0 auto;
    overflow: hidden;
    width: 90%;
    max-width: 1100px;
    height: auto;
    max-height: auto;
    padding-top: 70px;
    margin-bottom: 100px;
  }
  .rsvp-carousel {
    border: solid 1px rgb(187, 187, 187);
    background: rgba(255, 255, 255, 0.933);
    border-radius: 5px 30px 5px;
    padding: 10px;
    color: rgb(41, 41, 41);
    max-width: 600px;
    margin-top: 80px !important;
    margin: 0 auto;
    text-align: center;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  /* MAPPING */
  .map-col {
    margin: 0 auto;
    text-align: center;
  }
  .content {
    width: 100%;
    display: flex;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .mapouter {
    width: 100% !important;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .gmap_canvas {
    width: 100% !important;
    height: 330px;
    border-radius: 20px;
    opacity: 1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .gmap_canvas:hover {
    opacity: 1;
  }
  .not-visible-for-desktop {
    display: none;
  }
  .logo-couple {
    display: none;
  }
  .insta-logo {
    display: none;
  }
  .insta-large-screen {
    width: 35px;
  }
}
/* IPAD */
@media (max-width: 991px) and (min-width: 600px) {
  .benetcam {
    font-size: 30px;
  }
  .hashtag {
    display: none;
  }
  .go-to-programme-link {
    cursor: pointer;
    color: white;
  }
  .go-to-programme-link:hover {
    color: white;
  }
  .merry-go-round-img {
    height: 765px;
    overflow: hidden;
    object-fit: cover;
  }
  .merry-go-round-img-scroll {
    position: sticky;
    height: 600px;
    object-fit: cover;
  }
  /* CAROUSEL LEGENDS */
  .legend {
    background-color: transparent !important;
    font-size: 80% !important;
    width: 100px;
    height: 500px;
    border-radius: 0 !important;
    margin-bottom: 10px;
    opacity: 1 !important;
  }
  .legend:hover {
    opacity: 1 !important;
  }
  .text-oncarousel {
    font-size: auto;
    margin-top: 250px !important;
    z-index: 1;
    color: white;
    text-align: center;
    width: 100%;
    position: absolute;
  }
  .space-div {
    margin-bottom: 320px;
  }
  /* programme */
  .programme-title {
    text-align: center;
    margin-top: 25px;
  }
  /* programme col 1 img settings */
  .img-programme {
    width: 100%;
    max-width: 700px;
    min-height: 200px;
    border-radius: 15px 0px 0px 0px;
  }
  .img-programme-acf {
    width: 100%;
    max-width: 700px;
    min-height: 200px;
    border-radius: 0px 15px 0px 0px;
  }
  .programme-img-col {
    text-align: right;
  }
  .card-two-prog-title {
    font-size: 20px;
    font-weight: bold;
  }
  .card-two-prog-location {
    font-size: 13px;
  }
  .core-text {
    width: 100%;
    display: inline-block;
  }
  /* MAPPING */
  .map-col {
    margin: 0 auto;
    text-align: center;
  }
  .content {
    width: 100%;
    display: flex;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .mapouter {
    width: 100% !important;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .gmap_canvas {
    width: 100% !important;
    height: 330px;
    border-radius: 20px;
    opacity: 1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .gmap_canvas:hover {
    opacity: 1;
  }
  .ipad-mobile-render {
    display: none;
  }
  .logo-couple {
    font-size: 16px;
    justify-content: center;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    display: flex;
  }
  .insta-logo {
    width: 35px;
  }
  .insta-large-screen {
    display: none;
  }
  .container-programme-row {
    height: auto;
    width: 100%;
  }
  .mobile-col {
    min-width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}
/* NEED MODIFICATIONS */
@media (max-width: 321px) {
  .logo-couple {
    justify-content: center;
    font-size: 15px;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    display: flex;
  }
  .insta-logo {
    width: 25px;
  }
  .insta-large-screen {
    display: none;
  }
  .container-programme-row {
    height: auto;
    width: 100%;
  }
  .programme-img-col {
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
  }
  .programme-col {
    text-align: center;
    margin: 0 auto;
    font-size: 12px !important;
  }
}
